/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-primario: #106eb0;
    --azul-escuro: #172554;
    --azul-claro: #60a5fa;
    --bg-color: #d1d5db;
    --cinza: #27272a;
    --preto: #000; 
    --branco: #fff;
}

body {
    background-color: var(--bg-color);
}

/* CABEÇALHO */
.cabecalho {
    width: 100%;
    height: 6rem;
    background-color: var(--azul-escuro);
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    max-width: 1246px;
    padding: 15px;
    margin: auto;
}

.menuNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 3.5rem;
}

.lista {
    display: flex;
    gap: 1.5rem;
}

.item {
    list-style: none;
    display: flex;
}

.btn-cabecalho {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--azul-escuro);
    border: none;
    cursor: pointer;
}

.txt-cabecalho {
    color: var(--branco);
    font-weight: bold;
    font-size: 1rem;
}

.buscar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buscarInput {
    background-color: transparent;
    outline: none;
    color: var(--branco);
    border: none;
}

/* INICIO DA PÁGINA */

.inicio {
    width: 100%;
    height: 450px;
    background-image: url(../assets/bg-inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1246px;
    padding: 80px;
    margin: auto;
    align-items: center;
}

.conteudo-txt-inicio {
    flex: 1 1 0%;
    max-width: 1246px;
}

.titulo-inicio {
    color: var(--branco);
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 16px;
    text-align: center;
}

.subtitulo-inicio {
    color: var(--branco);
    font-size: 20px;
    max-width: 1200px;
    margin-bottom: 32px;
    text-align: justify;
}

.botao-inicio {
    background-color: var(--branco);
    color: var(--azul-escuro);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 1rem;
    cursor: pointer;
}

.area-btn-inicio {
    display: flex;
    gap: 3rem;
    margin-left: 22rem;
}

/* ACESSIBILIDADE */

.sessao-acessibilidade {
    width: 100%;
    height: 965px;
}

.acessibilidade-container {
    display: flex;
    gap: 7rem;
}

.acessibilidade {
    flex: 1 1 0%;
    max-width: 594px;
}

.span-acessibilidade {
    display: block;
    color: var(--azul-escuro);
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.titulo-acessibilidade {
    color: var(--azul-primario);
    font-size: 56px;
    font-weight: 900;
}

.subtitulo-acessibilidade {
    color: var(--cinza);
    font-size: 18px;
    max-width: 554px;
    margin-bottom: 68px;
}

.acessilidade-img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

/* TAMANHO DE MERCADO */

.tamanho-mercado {
    width: 100%;
    height: 500px;
}

.mercado.container {
    display: flex;
    gap: 7rem;
}

.img-mercado {
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

.mercado-txt {
    flex: 1 1 0%;
    max-width: 594px;
}

.span-mercado {
    display: block;
    color: var(--azul-escuro);
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.titulo-mercado {
    color: var(--azul-primario);
    font-size: 56px;
    font-weight: 900;
}

.subtitulo-mercado {
    color: var(--cinza);
    font-size: 18px;
    max-width: 554px;
    margin-bottom: 68px;
}

/* RODAPÉ */

footer {
    background-color: var(--azul-escuro);
    width: 100%;
    height: 120px;
    padding-top: 1rem;
}

.rodape-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copy {
    color: var(--branco);
}
.equipe {
    color: var(--branco);
}

.equipe h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.equipe ul {
    list-style: none;
}

.equipe ul li {
    text-align: center;
}